/* add css reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

/* change font size, color, and center text */
h1 {
    margin-bottom: 16px;
    text-align: center;
    color: white;
    font-family: monospace;
    /*Change background color under heading */
    background-color: #999371;
}

 /* set background color and add border */
body {
    
    background-color: #201b12;
    /* add dashed border*/
    border-color: #6D694D;
    border-style: dashed;
}

/* style button */
/* call upon the custom button class */
 div .button-start {
    /* change button size */
    font-size: 36px;
    /*change button font */
    font-family: monospace;
    /*center button*/
    align-items: center;
    display: block;
    margin: auto;
}

/* style inventory button */

.inventory {
    /*style button*/

    font-family: monospace;
    color: white;
    background-color: #999371;
}