/* add css reset*/
* {
    margin: 0;
    padding: 15px;
    box-sizing: border-box;
    text-align: center;
}

html,
body {
    height: 100%;
}

/* change font size, color, and center text */
h1 {
    margin-bottom: 16px;
    text-align: center;
    color: white;
    font-family: monospace;
    /*Change background color under heading */
    background-color: #999371;
}

#story-title {
    height: 100%;
    width: 100%;
}

 /* set background color and add border */
body {
    
    background-color: #201b12;
    border: #999371;
    border
}

/* style button */
/* call upon the custom button class */
 div .button-start {
    /* change button size */
    font-size: 36px;
    /*change button font */
    font-family: monospace;
    /*center button*/
    align-items: center;
    display: block;
    margin: auto;
}

/* style inventory button */

.inventory {
    /*style button*/

    font-family: monospace;
    color: white;
    background-color: #999371;
}

/* changing the font of the website */

#journey3 {
    font-family: monospace;
    color: white; 
}

#textChoice {
    font-size: 23px;
}

/* changing the style of the ending texts */

